.ToDo-Display-Border{
    border: 1px solid black;
    padding: 1rem;
    border-radius: 25px;
    width: 80%;
    margin: auto
}

.Individual-ToDo-Wrapper{
    border: 1px solid black;
    padding: 1rem;
    border-radius: 25px;
    display: flex;
    flex-direction: row;
}

.Individual-ToDo-Content-Wrapper{
    display: flex;
    flex-direction: column;
}


.Individual-ToDo-btn-Wrapper{
    margin-left: auto;
    height:fit-content;
    display: grid;
    grid-template-columns: 50% 50%;
}


.complete-ToDo-btn{
    background-color: rgb(77, 255, 0);
    color: white;
    height: fit-content;
    cursor:pointer;
    grid-column: 1 / -1;
}

.delete-ToDo-btn{
    background-color: red;
    color: white;
    height: fit-content;
    cursor: pointer;
}

.edit-ToDo-btn{
    background-color: rgb(0, 242, 255);
    color: white;
    height: fit-content;
    cursor: pointer;

}

.todo-completed{
    text-decoration: line-through;
}